[submodule "pentestgpt-core"]
	path = pentestgpt-core
	url = https://github.com/zhiduoxing56-sys/pentestgpt-core.git
	branch = main
[submodule "third_party/kong"]
	path = third_party/kong
	url = https://github.com/amruth-sn/kong.git
[submodule "third_party/trudi"]
	path = third_party/trudi
	url = https://github.com/nebulae/trudi.git
[submodule "third_party/fuzzingbrain"]
	path = third_party/fuzzingbrain
	url = https://github.com/zhiduoxing56-sys/FuzzingBrain-V2.git
